select.browser-default {
  display: block;
  line-height: 38px;
  height: 38px;
  padding: 6px 0 10px
}
.ui.dropdown {
  @extend %flex-center-v;
  justify-content: space-between;
  padding: 5px 0;
  border: 0;
  border-bottom: 1px solid $light-text;
  border-radius: 0;
  font-family: $font-family-sans-serif;
  min-height: 37px;
  height: 37px;
  transition: border-bottom-color .3s ease;
  .mdc-theme--dark &{
    border-bottom: 1px solid $placeholder-text-dark;
  }
  &>input.search {
    color: $light-text;
    height: 100%;
    padding: 0;
    cursor: pointer;
    .mdc-theme--dark &{
      color: $dark-text;
    }
  }
}
.ui.default.dropdown:not(.button)>.text,
.ui.search.dropdown>.text,
.ui.selection.dropdown>.delete.icon,
.ui.selection.dropdown>.dropdown.icon,
.ui.selection.dropdown>.search.icon{
  font-weight: 400!important;
  padding: 3px 0 0 0;
  letter-spacing: .17px;
  cursor: pointer;
  color: $light-text-active;
  .mdc-theme--dark &{
    color: $dark-text-active;
  }
}
.ui.default.dropdown:not(.button)>.text,
.ui.dropdown:not(.button)>.default.text,
.ui.search.dropdown>.text{
    flex: 1;
}
.mdc-theme--dark .ui.dropdown:not(.button)>.default.text{
  color: $placeholder-text-dark;
}
.ui.selection.dropdown>.dropdown.icon {
    padding-top: 11px;
    padding-right: 3px
}
.ui.active.search.dropdown input.search:focus+.text {
    color: rgba(115, 115, 115, .87)!important
}
.ui.dropdown .menu,
.ui.selection.active.dropdown .menu{
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px !important;
  .mdc-theme--dark &{
    background-color: $dark-background-darker-2;
  }
}
.ui.selection.dropdown .menu>.item,
.ui.selection.dropdown .menu>.message {
  border: none;
  font-size: 15px;
  min-height: 32px;
  padding: 0 24px!important;
  line-height: 32px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui.dropdown .menu>.item:not(.selected),
.ui.dropdown .menu>.message:not(.selected) {
  color: $light-text-active;
  .mdc-theme--dark &{
    color: $dark-text-active;
  }
}
.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  background-color: transparent;
  color: $primary-dark;
}
.ui.dropdown .menu>.item:hover {
  background: rgba(0, 0, 0, .05);
  .mdc-theme--dark &{
    background-color: $dark-background-darker-3;
  }
}
.ui.dropdown, .ui.search.dropdown{
  .menu{
    max-height: 50vh;
    overflow-y: scroll;
    width: 100%;
  }
}