/node_modules
/public/hot
/resources/files/trailers/mod/manifest.sii
/resources/files/trucks/mod/manifest.sii
/public/download/*
/public/images/*
/public/modifications/*
/public/storage
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.lo
/.env