// Collapsible
.game{
  .collapsible, .collapsible-header, .collapsible-body{
    border: none;
  }
}
.game .collapsible{
  margin: 0;
}
.show-skin .collapsible-body{
  min-width: 400px;
  overflow-y: scroll;
}