// Collapsible
.game{
  .collapsible, .collapsible-header, .collapsible-body{
    border: none;
  }
}
.game .collapsible{
  margin: 0;
}
.show-skin .collapsible-body{
  max-height: 400px;
  overflow-y: scroll;
}
.ac-list > li:hover{
    background-color: rgba(242, 242, 242, 0.1);
}
.card{
    .card-image{
        i{
            &.favorite{
                position: absolute;
                top: 5px;
                right: 5px;
                color: white;
                cursor: pointer;
            }
            &.favorite-active{
                color: yellow;
            }
        }
    }
}
