// Tabs
.tabs{
  display: flex;
  height: $nav-height;
  background: $light-background-lighten-1;
  .mdc-theme--dark &{
    background: $dark-background-darker-1;
  }
  & .tab a{
    color: $light-text;
    transition: none;
    .mdc-theme--dark &{
      color: $dark-text;
    }
    &.active, &:hover{
      color: $primary-text-dark;
      .mdc-theme--dark &{
        color: $primary-text-dark;
      }
    }
    &:focus, &:focus.active{
      background: none;
    }
  }
  & .indicator{
    background-color: $primary-text-dark;
    .mdc-theme--dark &{
      background-color: $primary-dark;
    }
  }
  .tab{
    line-height: $nav-height;
    height: $nav-height;
  }
}