// Typography
$font-family-sans-serif: 'Google Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom theme colors
$primary: #ffab40;
$primary-dark: #fdd835;
$primary-dark-alpha: rgba(253, 216, 53, 0.49);
$primary-dark-alpha-dark: rgba(253, 216, 53, 0.7);

  // Text colors
$primary-text: #ffab40;
$primary-text-dark: #fdd835;
$light-text: #202124;
$light-icon: #5f6368;
$light-icon-active: #202124;
//$light-text: rgba(0,0,0,0.87);
$dark-text: #bbbbbb;
$light-text-active: #000;
$dark-text-active: #fff;
$placeholder-text: rgba(191,191,191,.87);
$placeholder-text-dark: rgba(255, 255, 255, 0.1);

  // Bg colors
$light-background: #eee;
$light-background-lighten-1: #fff;

$dark-background: #333333;
$dark-background-darker-1: #333333;
$dark-background-darker-2: #424242;
$dark-background-darker-3: #515151;

// Other
$sidenav-width: 350px;
$nav-height: 64px;
