:root{
	--mdc-theme-primary-light: #fff176;
	--mdc-theme-primary-dark: #fdd835;
	--mdc-theme-secondary: #ef6c00;
	--mdc-theme-secondary-light: #fff;
	--mdc-theme-secondary-dark: #fff;
	--mdc-theme-background: #eee;
	--mdc-theme-background-dark-0: #000;
	--mdc-theme-background-dark: #212121;
	--mdc-theme-background-dark-3: #424242;
	--mdc-theme-background-dark-4: #616161;
	--mdc-theme-text-primary-on-primary-dark: #9e9e9e;

	--mdc-theme-primary: #ffab40;

	--mdc-theme-light-text: rgba(0,0,0,0.87);
	--mdc-theme-light-background: #eee;
	--mdc-theme-light-background-lighten-1: #fff;
	--mdc-theme-light-secondary: #fff;

	--mdc-theme-dark-text: #9e9e9e;
	--mdc-theme-dark-background: #212121;
	--mdc-theme-dark-background-darker-2: #333333;
	--mdc-theme-dark-secondary: #9e9e9e;
}


/* Generator Page */

.mdc-text-field{

}
.mdc-text-field:not(.mdc-text-field--upgraded) .mdc-text-field__input {
	padding-top: 23px;
}
.mdc-theme--dark .mdc-text-field--focused:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled) .mdc-text-field__label,
.mdc-theme--dark .mdc-text-field--focused:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder{
	color: var(--mdc-theme-primary-light) !important;
}
.mdc-text-field__bottom-line{
    background-color: var(--mdc-theme-primary-dark);
}
.mdc-text-field__label{
	font-size: 15px;
	color: rgba(0,0,0,.87);
}
.mdc-theme--dark input, .mdc-theme--dark textarea.materialize-textarea{
	color: #eee;
}
input, .mdc-text-field__input, input[type=text]:not(.browser-default){
	transition: border-bottom-color .3s ease;
	font-family: Montserrat, sans-serif;
}
.mdc-theme--dark .mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) .mdc-text-field__label{
	color: var(--mdc-theme-text-primary-on-primary);
}


/* Login Page */
.social-login-btn.social-login-btn_steam{
    background: url(../../../public/assets/img/steam-icon.png) no-repeat center center;
    background-size: 55px;
}
.mdc-theme--dark .social-login-btn.social-login-btn_steam{
    background: url(../../../public/assets/img/steam-icon-dark.png) no-repeat center center;
    background-size: 55px;
}
.social-login-btn.social-login-btn_google{
    background: url(../../../public/assets/img/google-icon.png) no-repeat center center;
    background-size: 40px;
}
.social-login-btn.mdc-button--raised:not(:disabled){
    display: inline-block;
    width: 64px;
    height: 64px;
    background-color: #ffffff1a;
}


/* Profile Page */
.mod-info{
    line-height: 36px;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mdc-theme--dark .no-mods{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}
.profile-container{
    flex: 1;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.profile-container .profile{min-width: 300px; max-width: 500px;}
.profile-container .settings{min-width: 650px;}
.profile-container .password{min-width: 300px;}
.profile-container .settings button{width: 400px;}
@media (max-width: 667px){
    .flex-center{
        flex-direction: column;
    }
}


/* Footer */
.page-footer a:hover{
    text-decoration: underline;
}
.page-footer li > a{
    font-size: 12px;
}
.page-footer{
    background-color: var(--mdc-theme-light-background);
}
.mdc-theme--dark .page-footer{
    background-color: var(--mdc-theme-dark-background);
}
.mdc-theme--dark .page-footer .footer-copyright{
    background-color: var(--mdc-theme-dark-background-darker-2);
}
.page-footer, .page-footer .footer-copyright{
    color: var(--mdc-theme-light-text);
}
.fs20{
	font-size: 20px;
}
.mdc-theme--dark footer h4,
.mdc-theme--dark footer h5,
.mdc-theme--dark footer h6,
.mdc-theme--dark footer p,
.mdc-theme--dark footer span,
.mdc-theme--dark label,
.mdc-theme--dark footer a{
	color: var(--mdc-theme-text-primary-on-primary-dark);
}
@media (max-width: 601px){
    .page-footer .col{
        text-align: center;
    }
    .footer-copyright .left,
    .footer-copyright .right{
        width: 100%;
        text-align: center;
    }
}


/* Admin Pages */
.mdc-theme--dark table{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}
.mdc-theme--dark table tr{
    border-bottom-color: var(--mdc-theme-background-dark-3);
}
.mdc-theme--dark table.highlight>tbody>tr:hover{
    background-color: var(--mdc-theme-background-dark-3);
}
@media (max-width: 584px){
    .card.horizontal{
        flex-direction: column;
    }
    .card.horizontal .card-image{
        width: 100%;
        height: 150px;
        max-width: 100%;
    }
}


/* Pagination */
.pagination{
    margin-top: 20px;
}
.pagination li.disabled span{
    opacity: .3;
}
.mdc-theme--dark .pagination li:not(.mdc-button--raised):not(.disabled) a{
    color: var(--mdc-theme-dark-text);
}


    /* Errors pages */
.not-found h1{
    font-size: 10rem;
}
.mdc-theme--dark .not-found h1,
.mdc-theme--dark .not-found h3{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}
