@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/material-icons.woff2') format('woff2');
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	font-family: Montserrat, sans-serif;
}
:root{
	--mdc-theme-primary-light: #fff176;
	--mdc-theme-primary-dark: #fdd835;
	--mdc-theme-secondary: #ef6c00;
	--mdc-theme-secondary-light: #fff;
	--mdc-theme-secondary-dark: #fff;
	--mdc-theme-background: #eee;
	--mdc-theme-background-dark-0: #000;
	--mdc-theme-background-dark: #212121;
	--mdc-theme-background-dark-3: #424242;
	--mdc-theme-background-dark-4: #616161;
	--mdc-theme-text-primary-on-primary-dark: #9e9e9e;

	--mdc-theme-primary: #ffab40;

	--mdc-theme-light-text: rgba(0,0,0,0.87);
	--mdc-theme-light-background: #eee;
	--mdc-theme-light-background-lighten-1: #fff;
	--mdc-theme-light-secondary: #fff;

	--mdc-theme-dark-text: #9e9e9e;
	--mdc-theme-dark-background: #212121;
	--mdc-theme-dark-background-darker-2: #333333;
	--mdc-theme-dark-secondary: #9e9e9e;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.material-icons.mdc-button__icon{
    line-height: inherit;
}


body{
	min-height: 100vh;
	background-color: var(--mdc-theme-background);
}
body.mdc-theme--dark{
	background-color: var(--mdc-theme-dark-background);
}
p, h1, h2, h3, h4, h5, h6, span{
    color: var(--mdc-theme-light-text);
}
.mdc-theme--dark p, .mdc-theme--dark h1, .mdc-theme--dark h2,
.mdc-theme--dark h3, .mdc-theme--dark h4, .mdc-theme--dark h5,
.mdc-theme--dark h6, .mdc-theme--dark span{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}
.mdc-theme--dark .card,
.mdc-theme--dark .collapsible,
.mdc-theme--dark .collapsible-header,
.mdc-theme--dark .card-panel,
.mdc-theme--dark nav{
	background-color: var(--mdc-theme-dark-background-darker-2);
	color: var(--mdc-theme-text-primary-on-primary-dark);
}
.wrapper{
	flex-direction: column;
	padding-left: 350px;
	min-height: 100vh;
}
@media only screen and (max-width : 992px) {
    .wrapper {
        padding-left: 0;
    }
}
ol{
    margin-left: 15px;
}
label, a{
    color: var(--mdc-theme-text-primary-on-primary-light);
}
.mdc-theme--dark a{
    color: #000;
}
.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled), .mdc-fab,
.mdc-switch .mdc-switch__native-control:enabled:checked~.mdc-switch__background .mdc-switch__knob,
.mdc-switch .mdc-switch__native-control:enabled:checked~.mdc-switch__background .mdc-switch__knob:before,
.mdc-switch .mdc-switch__native-control:enabled:checked~.mdc-switch__background:before{
    background-color: var(--mdc-theme-primary-dark);
    color: var(--mdc-theme-light-text)
}
.mdc-theme--dark .toast{
    background-color: var(--mdc-theme-background-dark-3);
}
span.badge.new{
    background-color: var(--mdc-theme-primary-dark);
    padding: 1px 6px;
}
span.badge.no-float{
    float: none;
}


/* Forms */
select{
	border: 0;
	color: #eee;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	pointer-events: auto;
}
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after{
    background-color: var(--mdc-theme-primary-dark);
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after{
    border-color: var(--mdc-theme-primary-dark);
}
.mdc-theme--dark .mdc-text-field__bottom-line{
    background-color: var(--mdc-theme-primary-dark);
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid var(--mdc-theme-primary-dark);
	box-shadow: 0 1px 0 0 var(--mdc-theme-primary-dark);
}
.mdc-theme--dark input[type=text]:not(.browser-default):focus:not([readonly])+label,
.mdc-theme--dark input[type=password]:not(.browser-default):focus:not([readonly])+label,
.mdc-theme--dark input[type=email]:not(.browser-default):focus:not([readonly])+label,
.mdc-theme--dark input[type=number]:not(.browser-default):focus:not([readonly])+label,
.mdc-theme--dark input[type=search]:not(.browser-default):focus:not([readonly])+label,
.mdc-theme--dark textarea.materialize-textarea:focus:not([readonly])+label{
	color: var(--mdc-theme-text-primary-on-primary-dark);
}
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label{
	color: var(--mdc-theme-light-text);
}
.input-field .prefix.active{
	color: var(--mdc-theme-primary-dark);
}
[type="checkbox"].filled-in:checked+span:not(.lever):after{
    border: 2px solid var(--mdc-theme-primary-dark);
    background-color: var(--mdc-theme-primary-dark);
}
[type="checkbox"]:checked+span:not(.lever):before{
    border-right: 2px solid var(--mdc-theme-primary-dark);
    border-bottom: 2px solid var(--mdc-theme-primary-dark);
}
[type="checkbox"].filled-in:checked+span:not(.lever):before{
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.mdc-theme--dark span.mdc-fab__icon{
    color: var(--mdc-theme-light-text);
}


/* Helpers */
@media (min-width: 601px){
	.left-med-and-up{
		float: left !important;
	}
	.right-med-and-up{
		float: right !important;
	}
}
.no-margin{
	margin: 0 !important;
}
.flex, .flex-wrapper{
	display: flex;
}
.flex-center{
	display: flex;
	justify-content: center;
}
.text-shadow{
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}
.card-image.no-img_horizontal{
	width: 300px;
	max-width: 33%;
	background-position: center center;
	background-size: cover;
}
a.mdc-fab span.mdc-fab__icon{
	line-height: 56px;
	text-align: center;
}

/* Nav Bar */
nav.sidenav{
    text-transform: uppercase;
    width: 350px;
    max-width: 75%;
}
nav ul a{
	font-size: 1.2em;
	font-weight: 500;
}
nav.nav-extended, .tabs{
	background: var(--mdc-theme-light-background-lighten-1);
}
nav.nav-extended{
    width: calc(100vw - 350px);
}
@media only screen and (max-width : 992px) {
    nav.nav-extended {
        width: 100%;
        padding-left: 64px;
    }
}
.mdc-theme--dark nav.nav-extended,
.mdc-theme--dark .tabs{
	background: var(--mdc-theme-dark-background-darker-2);
}
nav .tabs .tab a{
	color: var(--mdc-theme-light-text);
}
.mdc-theme--dark nav .tabs .tab a{
	color: var(--mdc-theme-dark-text);
}
nav .tabs .tab a.active,
nav .tabs .tab a:hover{
	color: var(--mdc-theme-primary);
}
.mdc-theme--dark nav .tabs .tab a.active,
.mdc-theme--dark nav .tabs .tab a:hover{
	color: var(--mdc-theme-primary-dark);
}
nav .tabs .indicator{
	background-color: var(--mdc-theme-primary);
}
.mdc-theme--dark nav .tabs .indicator{
	background-color: var(--mdc-theme-primary-dark);
}
nav .tabs .tab a:focus, nav .tabs .tab a:focus.active{
	background: none;
}
.mdc-theme--dark nav.sidenav li>a,
.mdc-theme--dark nav.sidenav li>a>i{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}
i.truck-icons{
	background: url(../img/truck_icons_light.png) no-repeat;
	background-position-y: center;
	background-size: 48px;
}
.mdc-theme--dark i.truck-icons{
    background-image: url(../img/truck_icons_dark.png);
}
.sidenav .user-view{
    margin: 20px 32px 0 32px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--mdc-theme-light-text);
}
.mdc-theme--dark .sidenav .user-view{
    border-bottom: 1px solid;
}
.sidenav .user-view a{
    display: flex;
    align-items: center;
    line-height: 90px
}
.sidenav .user-view .circle{
    width: 90px;
    height: 90px;
	object-fit: cover;
}
.sidenav .user-view .name{
    color: var(--mdc-theme-light-text);
    flex: 1;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mdc-theme--dark .sidenav .user-view .name{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}
i.truck-us{
	background-position-x: -26px;
}
i.truck-eu{
	background-position-x: 1px;
}

nav.sidenav{
	display: flex;
	flex-direction: column;
}
nav.sidenav .top-menu{
	flex: 1;
}
nav.sidenav .bottom-menu{
	margin-bottom: 20px;
}
nav.sidenav li.active {
    background-color: rgba(0, 0, 0, 0.15);
}
nav .brand-logo::before{
	content: '';
	position: absolute;
	left: -21px;
	display: block;
	height: 64px;
	width: 45px;
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
	background-position-y: 82%;
}
.sidenav-trigger{
    position: fixed;
    left: 20px;
    top: 11px;
    z-index: 998;
}
.mdc-theme--dark .sidenav-trigger{
    color: var(--mdc-theme-dark-text);
}
.sidenav .collapsible-header, .sidenav.fixed .collapsible-header{
	padding: 0 32px;
}
.sidenav .collapsible-body li a, .sidenav.fixed .collapsible-body li a{
	padding: 0 0 0 100px;
}
.mdc-theme--dark .sidenav .collapsible-body, .mdc-theme--dark .sidenav.fixed .collapsible-body{
	background-color: var(--mdc-theme-dark-background-darker-2);
}
.sidenav .collapsible-body>ul:not(.collapsible)>li.active,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active{
    background-color: rgba(0, 0, 0, 0.15);
}
.sidenav .collapsible-body>ul:not(.collapsible)>li.active a,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active a{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}


/* Language modal */
.lang-btn{
	white-space: nowrap;
	font-size: 17px;
}
.lang-btn.active{
	font-weight: bold;
}
.lang-btn.active img{
	opacity: 1;
}
.lang-btn img{
	max-width: 30px;
	margin: 0 10px;
	opacity: .6;
	transition: opacity .3s ease;
}
.lang-btn:hover img{
	opacity: 1;
}
.lang-col:nth-child(even) a{
	flex-flow: row-reverse;
}
@media (max-width: 600px){
	.lang-col a,
	.lang-col:nth-child(even) a{
		flex-flow: row;
		justify-content: center;
	}
}
.mdc-theme--dark .lang-btn{
	color: var(--mdc-theme-text-primary-on-primary);
}


/* Generator Page */
.trailer-generator{
    width: 700px;
}
.paint-generator{
    width: 700px;
}
@media (max-width: 1100px){
    .trailer-generator{
        width: 630px;
    }
}
@media (max-width: 992px){
    .trailer-generator, .paint-generator{
        width: 95%;
    }
}
.download-row{
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.download-row h6{
	margin-left: 10px;
}
.mdc-theme--dark .download-row h6{
	color: var(--mdc-theme-text-primary-on-primary-dark);
}
.download-row .large-btn{
	height: 54px;
	line-height: 54px;
}
.preloader-wrapper.tiny{
	height: 24px;
	width: 24px;
	vertical-align: middle;
}
.mdc-text-field{
	width: 100%;
	margin-bottom: 8px;
	margin-top: 16px;
	height: 48px;
}
.mdc-text-field:not(.mdc-text-field--upgraded) .mdc-text-field__input {
	padding-top: 23px;
}
.mdc-theme--dark .mdc-text-field--focused:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled) .mdc-text-field__label,
.mdc-theme--dark .mdc-text-field--focused:not(.mdc-text-field--invalid):not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder{
	color: var(--mdc-theme-primary-light) !important;
}
.mdc-text-field__bottom-line{
    background-color: var(--mdc-theme-primary-dark);
}
.mdc-text-field__label{
	font-size: 15px;
	color: rgba(0,0,0,.87);
}
.mdc-switch{
	margin-top: 15px;
}
.mdc-switch + label{
	font-size: 13px;
	cursor: pointer;
}
.game h4{
	color: var(--mdc-theme-text-primary-on-primary-light);
}
.mdc-theme--dark .game h4{
	color: var(--mdc-theme-text-primary-on-primary-dark);
}
.collapsible{
	margin: 0;
}
.collapsible, .collapsible-header{
	border: none;
	border-radius: 0 0 2px 2px;
}
.advanced .collapsible-body{
	border-left: 1px solid #616161;
}
.collapsible-body{
	border-bottom: 0;
}
.advanced .collapsible-header{
	padding: 1rem 0;
}
.collapsible-header{
	line-height: 36px;
}
.collapsible-header i{
	transition: .3s ease;
}
li > .collapsible-header i,
li > .collapsible-header .material-icons.mdc-button__icon{
	line-height: 36px;
}
li.active > .collapsible-header i:not(.mdc-button__icon){
	transform: rotate(180deg);
}
.mdc-theme--dark input, .mdc-theme--dark textarea.materialize-textarea{
	color: #eee;
}
input, .mdc-text-field__input, input[type=text]:not(.browser-default){
	transition: border-bottom-color .3s ease;
	font-family: Montserrat, sans-serif;
}
.mdc-theme--dark .mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) .mdc-text-field__label{
	color: var(--mdc-theme-text-primary-on-primary);
}
.mdc-theme--dark input.select-dropdown{
	border-bottom-color: hsla(0,0%,100%,.5);
	transition: border-bottom-color .3s ease;
}
.mdc-theme--dark input.select-dropdown:hover{
	border-bottom-color: #fff;
}
.colors .palette input[type=color]{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.mdc-text-field.inline{
	max-width: 57px;
}
.hex .mdc-text-field{
	max-width: 180px;
}
.mdc-text-field.weight, .file-field{
	max-width: 225px;
}
.input-field.wheels{
	margin-top: 35px;
	max-width: 430px;
}
.admin-panel .input-field.wheels{
	max-width: 100%;
}
.file-field{
	margin-top: 0;
	display: flex;
}
.file-field .file-path-wrapper{
	height: 100%;
}
.file-field input.file-path{
	height: 100%;
	border: none !important;
	text-transform: uppercase;
	font-weight: 500;
	color: var(--mdc-theme-light-text,#000);
	font-size: .875rem;
	text-overflow: ellipsis;
}
.file-field input.file-path::placeholder{
	color: var(--mdc-theme-light-text,#000);
}
.gallery-btn{
	margin: 0 !important;
	line-height: 36px;
}
@media (max-width: 600px){
	.gallery-btn{
		margin-top: 15px;
		margin-left: 24px;
	}
}
.mdc-theme--dark .select-wrapper input.select-dropdown{
	color: var(--mdc-theme-text-primary-on-primary);
}
.select-wrapper input.select-dropdown:focus{
	border-bottom: var(--mdc-theme-primary-dark) solid 1px;
}
.wheels .select-wrapper li{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}
.mdc-theme--dark .wheels .dropdown-content{
	background-color: #424242;
}
.mdc-theme--dark .wheels .select-dropdown.dropdown-content li:hover{
	background-color: #515151;
}
.wheels .dropdown-content li>a, .dropdown-content li>span{
	flex: 1;
	color: var(--mdc-theme-text-primary-on-primary-light);
}
.mdc-theme--dark .wheels .dropdown-content li>a,
.mdc-theme--dark .dropdown-content li>span{
	color: #eee;
}
.mdc-dialog__body, .mdc-dialog__header__title,
.mdc-button{
	font-family: Montserrat, sans-serif;
}
.wheels .select-wrapper li img{
	width: auto;
	height: 60px;
}
.select-dropdown.dropdown-content li.selected{
	background-color: transparent;
}
.select-dropdown.dropdown-content li:hover {
	background-color: rgba(0,0,0,0.08);
}
.wheels .dropdown-content li.active span,
.wheels .dropdown-content li.selected span{
	color: var(--mdc-theme-primary-dark);
}
.select-wrapper .caret{
	z-index: 0;
	fill: #888;
}
.dlc > label{
	display: block;
	margin-top: 10px;
}
.mdc-fab span{
	font-size: 25px;
	font-weight: bold;
}
#check_all{
	background: none;
	text-decoration: underline;
	cursor: pointer;
}
.mdc-theme--dark #check_all{
	color: #fff;
}


/* Login Page */
.social-login-btn.social-login-btn_steam{
    background: url(../img/steam-icon.png) no-repeat center center;
    background-size: 55px;
}
.mdc-theme--dark .social-login-btn.social-login-btn_steam{
    background: url(../img/steam-icon-dark.png) no-repeat center center;
    background-size: 55px;
}
.social-login-btn.social-login-btn_google{
    background: url(../img/google-icon.png) no-repeat center center;
    background-size: 40px;
}
.social-login-btn.mdc-button--raised:not(:disabled){
    display: inline-block;
    width: 64px;
    height: 64px;
    background-color: #ffffff1a;
}


/* Gallery Page */
.trailer .card-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 22px;
}
.trailer .card-content{
	padding: 0;
}


/* Profile Page */
.mod-info{
    line-height: 36px;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mdc-theme--dark .no-mods{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}
@media (max-width: 667px){
    .flex-center{
        flex-direction: column;
    }
}


/* Footer */
.page-footer a:hover{
    text-decoration: underline;
}
.page-footer li > a{
    font-size: 12px;
}
.page-footer{
    background-color: var(--mdc-theme-light-background);
}
.mdc-theme--dark .page-footer{
    background-color: var(--mdc-theme-dark-background);
}
.mdc-theme--dark .page-footer .footer-copyright{
    background-color: var(--mdc-theme-dark-background-darker-2);
}
.page-footer, .page-footer .footer-copyright{
    color: var(--mdc-theme-light-text);
}
.fs20{
	font-size: 20px;
}
.mdc-theme--dark footer h4,
.mdc-theme--dark footer h5,
.mdc-theme--dark footer h6,
.mdc-theme--dark footer p,
.mdc-theme--dark footer span,
.mdc-theme--dark label,
.mdc-theme--dark footer a{
	color: var(--mdc-theme-text-primary-on-primary-dark);
}
@media (max-width: 601px){
    .page-footer .col{
        text-align: center;
    }
    .footer-copyright .left,
    .footer-copyright .right{
        width: 100%;
        text-align: center;
    }
}


/* Admin Pages */
.search{
	padding: 0;
}
.search [name=q]{
	margin-bottom: 0;
	border-bottom: none !important;
	box-shadow: none !important;
}
.search .input-field .prefix{
	text-align: center;
}
.mdc-theme--dark table{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}
.mdc-theme--dark table tr{
    border-bottom-color: var(--mdc-theme-background-dark-3);
}
.mdc-theme--dark table.highlight>tbody>tr:hover{
    background-color: var(--mdc-theme-background-dark-3);
}
.input-field input[type=search] ~ .mdc-icon-button,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons{
    background-color: transparent;
    color: var(--mdc-theme-light-text);
    height: 45px;
    width: 45px;
}
.mdc-theme--dark .input-field input[type=search] ~ .mdc-icon-button,
.mdc-theme--dark .input-field input[type=search]:focus:not(.browser-default) ~ .material-icons{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}
.input-field input[type=search]:focus:not(.browser-default){
    background-color: transparent;
}
.mdc-theme--dark input[type=search]:focus:not(.browser-default){
    color: #fff;
}
@media (max-width: 584px){
    .card.horizontal{
        flex-direction: column;
    }
    .card.horizontal .card-image{
        width: 100%;
        height: 150px;
        max-width: 100%;
    }
}


/* Pagination */
.pagination{
    margin-top: 20px;
}
.pagination li.disabled span{
    opacity: .3;
}
.mdc-theme--dark .pagination li:not(.mdc-button--raised):not(.disabled) a{
    color: var(--mdc-theme-dark-text);
}


    /* Errors pages */
.not-found h1{
    font-size: 10rem;
}
.mdc-theme--dark .not-found h1,
.mdc-theme--dark .not-found h3{
    color: var(--mdc-theme-text-primary-on-primary-dark);
}


/* Modals */
.mdc-dialog{
    z-index: 1000;
}
.mdc-dialog a{
    color: #000;
}
.mdc-theme--dark .mdc-dialog a:not(.lang-btn){
    color: #fff;
    text-decoration: underline;
}


/* Scrollbar */
*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
}